<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://camel.apache.org/schema/cxf/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/cxf/jaxws http://camel.apache.org/schema/cxf/jaxws/camel-cxf.xsd">


       <!-- THIS IS WHERE THE BEANS MUST BE DECLARED -->
       <bean id="loggingout" class="org.apache.cxf.ext.logging.LoggingOutInterceptor"/>
       <bean id="loggingin" class="org.apache.cxf.ext.logging.LoggingInInterceptor"/>
       
       <cxf:cxfEndpoint id="mycxfendpoint" serviceClass="${my.cxf.serviceclass}" address="${my.cxf.target.address}"> 

              <cxf:outInterceptors>
                     <ref bean="loggingout"/>
                     <!--
                     <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                            <constructor-arg>
                                   <map>
                                          <entry key="action" value="UsernameTokenNoPassword"/>
                                          <entry key="allowUsernameTokenNoPassword" value="true"/>
                                   </map>
                            </constructor-arg>
                     </bean>
                     -->
              </cxf:outInterceptors>

              <cxf:inInterceptors>
                     <ref bean="loggingin"/>                     
              </cxf:inInterceptors>

              <cxf:properties>
                     <entry key="dataFormat" value="PAYLOAD"/>
              </cxf:properties>

       </cxf:cxfEndpoint>

</beans>